<div class="container">
    <div class="row" style="margin-bottom: 8px;background-color: white; padding: 8px; padding-top: 14px; border-radius: 4px;">
        <div class="col-sm">
            <label>Dega: </label>
            <select (change)="DegaIndexChanged($event.target.value)">
				<option value="0"></option>
				<option *ngFor="let dega of degetObservable | async" value={{dega}}>
				{{dega}}
				</option>
			</select>
        </div>
        <div class="col-sm">
            <label>Viti: </label>
            <select (change)="VitIndexChanged($event.target.value)" style="width: 70px;text-align-last: right;">
			<option value="0"></option>
				<option *ngFor="let vit of vitetObservable | async" value={{vit}}>
				{{vit}}
				</option>
			</select>
        </div>
        <div class="col-sm">
            <label>Parali: </label>
            <select (change)="ParalelIndexChanged($event.target.value)" style="width: 70px;">
				<option value="0"></option>
				<option *ngFor="let paralel of paraleliObservable | async" value={{paralel}}>
				{{paralel}}
				</option>
			</select>
        </div>
    </div>
    <div class="row">
        <ag-grid-angular style="width: 100%; height: 700px;" class="ag-theme-balham" [gridOptions]="gridOptions" [rowData]="pedagogOrari" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>