<div class="container">
    <div class="row" style="margin-bottom: 8px;background-color: white; padding: 8px; padding-top: 14px; border-radius: 4px;">
        <div class="col-sm">
            <label>Pedagog: </label>
            <select (change)="PedagogIndexChanged($event.target.value)">
				<option value="0"></option>
				<option *ngFor="let pedag of pedagogObservable | async" value={{pedag}}>
				{{pedag}}
				</option>
			</select>
        </div>
    </div>
        <div class="row">
            <ag-grid-angular
                style="width: 100%; height: 700px;"
                class="ag-theme-balham"
                [gridOptions]="gridOptions"
                [rowData]="pedagogOrari"
                (gridReady)="onGridReady($event)"
                >
            </ag-grid-angular>
        </div>
</div>